<div class="container">
       
    <button routerLink="/admin/nuevo-producto" class="btn btn-info btn-rounded float-right">Nuevo <i class="fa fa-plus"></i></button>
    <h3 class="border-bottom border-gray pb-2 mb-4">Lista de Productos</h3>
    
   <div *ngFor="let product of products" class="row mb-3">
    <div class="col-md-2">
      <a href="#">
        <img class="img-fluid" src="http://localhost:3000/uploads/{{product.nombre_img}}" width="150" >
      </a>
    </div>
    <div class="col-md-10">
      <h4>{{product.titulo}}</h4>
      <ul>
        <li><b>Precio: </b>${{product.precio}}</li>
        <li><b>stock: </b>{{product.stock}}</li>
        <li><b>Descripcion: </b>{{product.descripcion}}</li>
        <li>
          <div  role="group" class="btn-group float-right">
            <button (click)="editProduct(product.id)"  class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></button>
             <button (click)="eliminarProduct(product.id)" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
            </div>
        </li>
      </ul>
    </div>
  </div>

</div>