<!--Products   -->

<div class="products">
    <div class="container">
        <h3 class="border-bottom border-primary pb-2 mb-4">telefonos</h3>
        <div class="row">

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_1.jpg" alt=""></div>
                <div class="product_extra product_new"><a href="categories.html">New</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_2.jpg" alt=""></div>
                <div class="product_extra product_sale"><a href="categories.html">Sale</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_3.jpg" alt=""></div>
                <div class="product_extra product_new"><a href="categories.html">New</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_4.jpg" alt=""></div>
                <div class="product_extra product_new"><a href="categories.html">New</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>   
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <h3 class="border-bottom border-primary pb-2 mb-4" >computadoras</h3>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_5.jpg" alt=""></div>
                <div class="product_extra product_hot"><a href="categories.html">Hot</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_6.jpg" alt=""></div>
                <div class="product_extra product_new"><a href="categories.html">New</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_7.jpg" alt=""></div>
                <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_8.jpg" alt=""></div>
                <div class="product_extra product_sale"><a href="categories.html">Hot</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>     
            
        </div>
    </div>
</div>


<div class="products">
    <div class="container">
        <h3 class="border-bottom border-primary pb-2 mb-4" >Electronica</h3>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_1.jpg" alt=""></div>
                <div class="product_extra product_new"><a href="categories.html">New</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_2.jpg" alt=""></div>
                <div class="product_extra product_sale"><a href="categories.html">Sale</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_3.jpg" alt=""></div>
                <div class="product_extra product_new"><a href="categories.html">New</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-6 col-lg-3">
                <div class="product_image"><img src="assets/images/product_4.jpg" alt=""></div>
                <div class="product_extra product_new"><a href="categories.html">New</a></div>
                <div class="product_content">
                    <div class="product_title"><a href="product.html">Smart Phone</a></div>
                    <div class="product_price">$670</div>
                </div>
            </div>
            
        </div>
    </div>
</div>