<div class="container">
    <div class="col-md-12 mx-auto">
        <div class="card text-center">
            <div class="card-header">
                <h3>Nuevo Producto</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="formProduct" (ngSubmit)="agregar()">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="form-group">
                                <input type="text" formControlName="titulo" name="titulo" class="form-control"
                                    [ngClass]="{'is-invalid':submit == true && formProduct.get('titulo').invalid }"
                                    placeholder="Titulo">
                                <div *ngIf="submit && formProduct.get('titulo').invalid " class="invalid-feedback">
                                    Por favor rellene este campo!
                                </div>
                            </div>
                            <div class="form-group">
                                <select formControlName="categoria" name="categoria" class="custom-select"
                                    [ngClass]="{'is-invalid':submit == true && formProduct.get('categoria').invalid }">
                                    <option value="">Seleccione una Categoria</option>
                                    <option *ngFor="let categoria of categorias" value="{{categoria.id}}">
                                        {{categoria.nombre}}</option>
                                </select>
                                <div *ngIf="submit && formProduct.get('categoria').invalid " class="invalid-feedback">
                                    Debe seleccionar una categoria!
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea type="text" formControlName="especificaciones" name="especificaciones"
                                    class="form-control"
                                    [ngClass]="{'is-invalid':submit == true && formProduct.get('especificaciones').invalid }"
                                    placeholder="Especificaciones"></textarea>
                                <div *ngIf="submit && formProduct.get('especificaciones').invalid "
                                    class="invalid-feedback">
                                    Por favor rellene este campo!
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="number" formControlName="precio" name="precio" class="form-control"
                                    [ngClass]="{'is-invalid':submit == true && formProduct.get('precio').invalid }"
                                    placeholder="Precio">
                                <div *ngIf="submit && formProduct.get('precio').invalid " class="invalid-feedback">
                                    Por favor rellene este campo!
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="number" formControlName="stock" name="stock" class="form-control"
                                    [ngClass]="{'is-invalid':submit == true && formProduct.get('stock').invalid }"
                                    placeholder="Stock">
                                <div *ngIf="submit && formProduct.get('stock').invalid " class="invalid-feedback">
                                    Por favor rellene este campo!
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="image-upload">
                                <label for="file-input">
                                    <div class="btn btn-info btn-block"><i
                                            class="text-white fa fa-cloud-upload fa-2x"></i> Subir imagen</div>
                                </label>
                                <input id="file-input" type="file" multiple formControlName="images" name="images"
                                    (change)="selectImg($event)" />
                                <p *ngIf="submit && formProduct.get('images').invalid " class="text-danger">
                                    Debe seleccionar al menos una imagen!
                                </p>
                            </div>
                            <div class="row">
                                <div *ngFor='let url of urls; index as i' class="col-3">
                                    <img [src]="url" class="img-fluid p-1">
                                    <button type="button" (click)="quitarImage(i,url)">eliminar</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <textarea type="text"
                         formControlName="descripcion"
                          name="descripcion"
                           class="form-control"
                           [ngClass]="{'is-invalid':submit == true && formProduct.get('descripcion').invalid }"
                            placeholder="Descripcion"></textarea>
                            <div *ngIf="submit && formProduct.get('descripcion').invalid " class="invalid-feedback">
                                Por favor rellene este campo!
                            </div>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-info btn-block ">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>